webscraping_email
entregavel_inoa/packages
entregavel_inoa/.vs
entregavel_inoa/webscraping_email/.vs
entregavel_inoa/webscraping_email/x64
entregavel_inoa/x64/Debug
entregavel_inoa/x64/Release/webscrap.ee1bd964.tlog
*.dll
