
*.json
*.json
webscraping_email/.vs/webscraping_email/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.vcxproj
*.filters
*.user
*.obj
*.idb
*.pdb
*.pdb
*.log
*.tlog
*.tlog
webscraping_email/packages
webscraping_email/webscraping_email/x64
webscraping_email/webscraping_email/x64/Debug/webscraping_email.exe.recipe
webscraping_email/webscraping_email/x64/Debug/webscraping_email.ilk
webscraping_email/webscraping_email/x64/Release/webscraping_email.exe.recipe
webscraping_email/webscraping_email/x64/Release/webscraping_email.iobj
webscraping_email/webscraping_email/x64/Release/webscraping_email.ipdb
webscraping_email/webscraping_email/x64/Release/webscraping_email.vcxproj.FileListAbsolute.txt
webscraping_email/x64/Release/libcurl.dll
webscraping_email/x64/Release/zlib1.dll
*.dll
*.pdf
*.png
*.p7s
webscraping_email/packages/Aspose.Email.Cpp.21.11.0/build/native/licenses/Aspose_End-User-License-Agreement.txt
*.nupkg
*.lib
*.targets
*.bin
*.CopyComplete
webscraping_email/packages/CodePorting.Native.Cs2Cpp.API.21.11.0/build/native/licenses/Aspose_End-User-License-Agreement.txt
*.natvis
*.config
