
*.json
*.json
webscraping_email/.vs/webscraping_email/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.vcxproj
*.filters
*.user
*.obj
*.idb
*.pdb
*.pdb
*.log
*.tlog
*.tlog
webscraping_email/webscraping_email/x64/Debug/webscraping_email.exe.recipe
webscraping_email/webscraping_email/x64/Debug/webscraping_email.ilk
webscraping_email/webscraping_email/x64/Release/webscraping_email.exe.recipe
webscraping_email/webscraping_email/x64/Release/webscraping_email.iobj
webscraping_email/webscraping_email/x64/Release/webscraping_email.ipdb
webscraping_email/webscraping_email/x64/Release/webscraping_email.vcxproj.FileListAbsolute.txt
webscraping_email/x64/Release/libcurl.dll
webscraping_email/x64/Release/zlib1.dll
webscraping_email/x64/Debug/webscraping_email.exe
webscraping_email/x64/Release/webscraping_email.exe
